@charset "utf-8";
/* CSS Document */
html{
  font-size:  16px;
}
body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
  position:relative;
  width: 100%;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	/* font-size: 1rem; */
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 1.5em;
}
article, aside, canvas, details, figcaption, figure, footer, hgroup, menu, nav {
  display: flex;
  width: 100%;

}
header{
  display: block;
}
/* section{
  width: 100%;

} */

#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
  width:100%;
}
#footer {
  background-color: #444;
  color: #aaa;
  font-size: 1rem;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 80px;
  background-color: #252831;
  text-align:center;
}
nav h1 {
  margin: auto;
}
nav h1 a {
  color: #fff;
  font-size: 1em;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}
#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 2em;
    margin: 0;
    /*width: calc(50% - 80px);*/
    width:100%;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}

/* ====================== Restaurant Filtering ====================== */
#filter-container{
  width:100%;


}

.filter-options {
  width: 100%;
  min-height: 5rem;
  background-color: #3397DB;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}
.filter-options h2 {
  padding: 1em;
  margin-top: 0.7em;
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
    
 }
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 1rem;
  height: 35px;
  letter-spacing: 0;
  margin: 1rem;
  padding: 0 10px;
  width: 200px;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  display: flex;
  flex-wrap: wrap;
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 60px;
  text-align: center;
  max-width:100% ;
  justify-content: center;


}
#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  margin: 15px;
  min-height: 380px;
  padding: 0 30px 25px;
  text-align: left;
  min-width: 270px;
  display:flex;
  flex-wrap: wrap;

  align-items:left;
  justify-content: left;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 1.5em 0;
  max-width: 100%;
  min-height: 10em;
  min-width: 10em;
}
#restaurants-list li h1 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 1.5rem;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 0 0 10px;
  text-transform: uppercase;
  width:100%;
}
#restaurants-list p {
  margin: 0;
  font-size: 1rem;
  width:100%;
}
#restaurants-list li a {
  display: block;
  background-color: orange;
  border-bottom: 3px solid #eee;
  color: #fff; 
  font-size: 1rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  align-self: flex-end;
}

/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}


.inside #maincontent{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 30%;  
  right: 0;
  top: 80px;
  width: 100%;
  position: inherit;
  z-index: 100;
  /* display: none; */

}
.inside #map {
  background-color: #ccc;
  /* height: 100%; */
  width: 100%;  
  position: fixed;
  z-index: 100;
}
.inside #footer {
  bottom: 0;
  position: absolute;
  width: 100%;
  z-index: 1000;
}
#restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 40px 7px 30px;
  text-transform: uppercase;
  line-height: 1.1;
  width: 100%;
  
  position: relative;
  z-index: 100;

}

#restaurant-image-container{
  width:100%;
  display:flex;
  flex-wrap: wrap;

}

#restaurant-img {
  width: 100%;
  max-width: 630px;
  max-height: 300px;
  height: auto;
  object-fit: cover;
}
#restaurant-address {
  font-size: 1rem;
  font-weight: bold;
  margin: 10px 0px 2em;
  max-width: 630px;
  width: 100%;

}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  max-width: 630px;
  
}


#restaurant-container, #reviews-container {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 0 10px 10px;
  width: 100%;  
  position: relative;
  z-index: 100;

}
#reviews-container {
  padding: 10px 20px 30px;
  display: flex;
  flex-wrap: wrap; 
  position:relative;
  z-index: 100;
}
#reviews-container h2 {
  color: #f58500;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 0;
  margin: 0 0 5px 0;
}
#reviews-list {
  display: flex;
  flex-wrap: wrap; 
  margin: 0;
  padding: 0;
  /* width:100%; */
}
#reviews-list li {
  background-color: #fff;
    border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 15px 30px;
  overflow: hidden;
  padding: 10px 20px 20px;
  position: relative;
  max-width: 93%;
  border-radius: 20px;
}
#reviews-list li p {
  margin: 0 0 10px;
  font-size:1.3em;
}

#reviews-list li :nth-child(1), #reviews-list li :nth-child(2),#reviews-list li :nth-child(3) {
font-weight: bold;
}

#restaurant-hours{
table-layout: fixed;

}

#restaurant-hours tr :nth-child(1){
  width:40%;
}


@media screen and (max-width:654px){
  .filter-options h2 {
   width:100%;
   margin: 0;

  }
  .filter-options select {
  margin-top: 0;
  padding-top: 0;
  }
}

  
  @media screen and (min-width:655px){
      #reviews-list {
  width:100%;
    }
    #reviews-list li {
width:500px;
}
}

@media screen and (max-width:758px){
  #restaurants-list li {
width:100%;
  }

}
@media screen and (min-width:759px){
  #restaurants-list li {
    width: 270px;
  }

}
@media screen and (min-width:685px)and (max-width:816px){
  #restaurant-img {
    max-width: 350px;

  }
  #restaurant-cuisine {
    max-width: 350px;
  }
  #restaurant-address {
    max-width: 350px;
  }
  #restaurant-image-container{
    width:49%;
    padding-left: 1%;
    
  }
    #restaurant-hours{
      width:48%;
      padding: 3px 5px;
    }

}

@media screen and (min-width:817px)and (max-width:1000px){
  #restaurant-image-container{
    width:57%;
    padding-left: 1%;    
  }
    #restaurant-hours{
      width:38%;
      padding: 3px 10px;
    }
  }
@media screen and (min-width:1001px){
  
.inside #maincontent{
  width:100%;
}
  .inside #map-container {
    margin: 236px 0 0 10px ;
    width:30%;
    order:0;
  }
  #restaurant-container{
    width:65%;
    order:-1;
  }
  #review-container{
    width:100%;      
  }

  #restaurant-name {
    margin: 180px 7px 30px;
  }
  #restaurant-image-container{
    width:48%;
    padding-left: 1%;    
  }
  #restaurant-img {
    max-width: 550px;
  
  }
  #restaurant-cuisine {
    max-width: 550px;
  }
  #restaurant-address {
    max-width: 550px;
  }
  #restaurant-hours{
    width:47%;
    padding: 3px 3px;
    margin-left: 2%;
  }

}
